@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    margin: 0;
    padding: 0;
}

.container-pai {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

#menu-principal {
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

#ctn-lateral-header {
    display: flex;
    align-items: center;
}

#nav {
    text-decoration: none;
    list-style: none;
    display: none;
}

#foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

#lista-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.icone-link {
    width: 12px;
}

section {
    margin-bottom: 30px;
}

#sobre-mim {
    padding: 10px;
    background-color: #EAF2FD;
}

.titulo-section {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

#skills {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.conteudo-section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    width: 35%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo-skills {
    width: 30px;
    margin: 10px 0;
}

#hobbies {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#formacao-academica {
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.conteudo-formacao {
    width: 90%;
    margin: 10px 0;
}

.div-img-formacao {
    margin: auto;
    display: flex;
    text-align: center;
    width: 100%;
    height: 118px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.container-formacao {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-formacao {
    max-width: 170px;
}

.titulo-formacao {
    margin: 5px 0;
}

.conteudo-experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.imagem-projeto {
    width: 90%;
}

.menu-projeto {
    text-align: center;
}

.titulo-projeto {
    margin: 0;
}

.subtitulo-projeto {
    margin-bottom: 10px;
}

.btn-repositorio {
    width: 108px;
    height: 40px;
    background-color: transparent;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    cursor: pointer;
}

.btn-repositorio:hover {
    background-color: #D4E4FA;
    transition: 300ms;
}

.btn-demo {
    width: 96px;
    height: 40px;
    background-color: #2A7AE4;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0px 20px 10px;
}

.btn-demo:hover {
    background-color: #5595E9;
    transition: 300ms;
}

#contato {
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

#form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    height: 50px;
    justify-content: center;
}

.div-input>input::placeholder {
    color: transparent;
}

.div-input>label {
    position: absolute;
    top: 25;
    left: 5px;
    color: #2A7AE4;
    font-size: 20px;
    transition: top 400ms, left 400ms, font 400ms;
}

.div-input>input:focus+label,
.div-input>input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 12px;
}

.input {
    border: none;
    font-size: 15px;
    outline: none;
}

#div-mensagem {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    border: 1px solid #2A7AE4;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: none;
}

#btn-enviar-mensagem {
    width: 35%;
    height: 40px;
    background-color: #2A7AE4;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

#btn-enviar-mensagem:hover {
    background-color: #5595E9;
    transition: 300ms;
}

#img-contato {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (min-width: 750px) {
    .conteudo-section {
        width: 25%;
    }
    .container-formacao {
        justify-content: space-around;
    }
    .conteudo-formacao {
        width: 40%;
    }
    header {
        width: 100%;
        margin-bottom: 25px;
    }
    #menu-principal {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .div-foto-perfil {
        display: inline;
    }
    #resumo {
        width: 72%;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    #sobre-mim,
    #menu-principal,
    #skills,
    #hobbies,
    #formacao-academica,
    #experiencia-profissional,
    #contato {
        padding: 10px 100px;
    }
    #skills,
    #hobbies {
        justify-content: space-between;
    }
    #foto-perfil {
        width: 250px;
        height: 250px;
    }
    .conteudo-section {
        width: 10%;
    }
    .container-formacao {
        width: 100%;
        justify-content: space-between;
    }
    .conteudo-experiencia {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
    .imagem-projeto {
        width: 720px;
    }
    .menu-projeto {
        padding: 30px;
        text-align: left;
    }
    .reverso {
        flex-direction: row-reverse;
    }
    #contato {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #conteudo-contato {
        width: 100%;
    }
    #img-contato {
        display: inline;
        width: 300px;
        height: 480px;
        margin-right: 25px;
    }
    #nav {
        display: flex;
    }
    #nav li {
        margin-right: 20px;
    }
    .imagem-projeto {
        box-shadow: 7px 5px 5px #4e5053;
    }
}